
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@600&family=Zilla+Slab+Highlight&display=swap');

*{
  text-align: center;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: -120px;
  color: rgb(46, 46, 46);
}

.header{
  background-color: #7dc13e;
  padding: 2% 0;

}

.menu{ 
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #7dc13e;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  font-family: 'Zilla Slab Highlight';
  color: white;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.applecore{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10%;
}
a {
  color: white;
  font-size: 20px;
}
h1{
  margin: 0;
}
h2 {
  margin: 0;
}
.gooder{
  font-family: 'Zilla Slab Highlight';
  color: white;
  margin: 0;
  font-size: 2em;
}
.subheader{
  font-family: 'Zilla Slab Highlight';
  color: white;
  margin: 0;
}
h3{
  background: none;
  font-family: 'Sarina';
  color: white;
}

.resourcelist{
  text-align: left;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
  background-color: #7dc13e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img{
  max-width: 100%;
}

.App-logo {
  max-height: 30px;
  pointer-events: none;
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}